@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

:root {
	--ff-general: "Lato", sans-serif;
	--ff-code: "Fira Code", monospace;

	--color-background-400: 32, 35, 44;
	--color-background-500: 37, 41, 50;
	--color-background-600: 52, 55, 69;

	--color-foreground-neutral: 255, 255, 255;
	--color-foreground-red: 224, 108, 117;
	--color-foreground-green: 152, 195, 121;
	--color-foreground-blue: 97, 175, 239;

	background-color: rgb(var(--color-background-500));
	color: rgb(var(--color-foreground-neutral));

	color-scheme: dark;
}

@theme inline {
  --color-background-400: rgb(var(--color-background-400));
  --color-background-500: rgb(var(--color-background-500));
  --color-background-600: rgb(var(--color-background-600));
  --color-foreground-neutral: rgb(var(--color-foreground-neutral));
  --color-foreground-red: rgb(var(--color-foreground-red));
  --color-foreground-green: rgb(var(--color-foreground-green));
  --color-foreground-blue: rgb(var(--color-foreground-blue));

  --font-general: var(--ff-general);
  --font-code: var(--ff-code);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	transition: all 0.125s linear;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	font-family: var(--ff-code);
}

#app {
	padding-block: 2rem;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	margin-inline: auto;
}

code {
	font-family: var(--ff-code);
}
