*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  transition: all 0.125s linear;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--ff-general);
}
