@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ff-general: "Inter", sans-serif;
  --color-primary: 37, 41, 50;
  --color-contrast: 255, 255, 255;

  background-color: rgb(var(--color-primary));
  color: rgb(var(--color-contrast));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  transition: all 0.125s linear;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--ff-general);
}
